<form action="?step=3" method="post" autocomplete="off">
	<div class="ban">
	<h2>Database (MySQL)</h2>
		<table>
			<tr>
				<td><label for="db_server">Server:</label></th>
				<td><input type="text" id="db_server" name="db[server]" value="{{ config.db.server }}"></td>
				
				<td><label for="db_prefix">Table prefix (optional):</label></th>
				<td><input type="text" id="db_prefix" name="db[prefix]" value="{{ config.db.prefix }}"></td>
			</tr>
			<tr>
				<td><label for="db_db">Database:</label></td>
				<td><input type="text" id="db_db" name="db[database]" value="{{ config.db.database }}"></td>
			</tr>
			<tr>
				<td><label for="db_user">Username:</label> </th>
				<td><input type="text" id="db_user" name="db[user]" value="{{ config.db.user }}"></td>
			</tr>
			<tr>
				<td><label for="db_pass">Password:</label></th>
				<td><input type="password" id="db_pass" name="db[password]" value="{{ config.db.password }}"></td>
			</tr>
		</table>
		 
	<h2>Cookies</h2>
		<table>
			<tr>
				<td><label for="cookies_mod">Moderator cookie:</label></td>
				<td><input type="text" id="cookies_mod" name="cookies[mod]" value="{{ config.cookies.mod }}"></td>
			</tr>
			<tr>
				<td><label for="cookies_salt">Secure salt:</label></td>
				<td><input type="text" id="cookies_salt" name="cookies[salt]" value="{{ config.cookies.salt }}" size="40"></td>
			</tr>
		</table>

	<h2>Flood control</h2>
		<table class="right">
			<tr>
				<td><label for="flood_time">Seconds before each post:</label></td>
				<td><input type="text" id="flood_time" name="flood_time" value="{{ config.flood_time }}"></td>
			</tr>
			<tr>
				<td><label for="flood_time_ip">Seconds before you can repost something (post the exact same text):</label></td>
				<td><input type="text" id="flood_time_ip" name="flood_time_ip" value="{{ config.flood_time_ip }}"></td>
			</tr>
			<tr>
				<td><label for="flood_time_same">Same as above, but with a different IP address:</label></td>
				<td><input type="text" id="flood_time_same" name="flood_time_same" value="{{ config.flood_time_same }}"></td>
			</tr>
			<tr>
				<td><label for="max_body">Maximum post body length:</label></td>
				<td><input type="text" id="max_body" name="max_body" value="{{ config.max_body }}"></td>
			</tr>
			<tr>
				<td><label for="reply_limit">Replies in a thread before it can no longer be bumped:</label></td>
				<td><input type="text" id="reply_limit" name="reply_limit" value="{{ config.reply_limit }}"></td>
			</tr>
			<tr>
				<td><label for="max_links">Maximum number of links in a single post:</label></td>
				<td><input type="text" id="max_links" name="max_links" value="{{ config.max_links }}"></td>
			</tr>
		</table>

	<h2>Images</h2>
	<table>
		<tr>
			<td><label for="thumb_width">Thumbnail width:</label></td>
			<td><input type="text" id="thumb_width" name="thumb_width" value="{{ config.thumb_width }}"></td>
			<td><label for="thumb_height">Thumbnail height:</label></td>
			<td><input type="text" id="thumb_height" name="thumb_height" value="{{ config.thumb_height }}"></td>
		</tr>
		<tr>
			<td><label for="max_width">Max image width:</label></td>
			<td><input type="text" id="max_width" name="max_width" value="{{ config.max_width }}"></td>
			<td><label for="max_height">Max image height:</label></td>
			<td><input type="text" id="max_height" name="max_height" value="{{ config.max_height }}"></td>
		</tr>
		<tr>
			<td><label for="max_filesize">Max image filesize (bytes):</label></td>
			<td><input type="text" id="max_filesize" name="max_filesize" value="{{ config.max_filesize }}"></td>
		</tr>
	</table>

	<h2>Display</h2>
	<table class="right">
		<tr>
			<td><label for="threads_per_page">Threads per page:</label></td>
			<td><input type="text" id="threads_per_page" name="threads_per_page" value="{{ config.threads_per_page }}"></td>
		</tr>
		<tr>
			<td><label for="max_pages">Page limit:</label></td>
			<td><input type="text" id="max_pages" name="max_pages" value="{{ config.max_pages }}"></td>
		</tr>
		<tr>
			<td><label for="threads_preview">Number of replies to show per thread on the index page:</label></td>
			<td><input type="text" id="threads_preview" name="threads_preview" value="{{ config.threads_preview }}"></td>
		</tr>
	</table>
	
	<h2>Directories</h2>
		<table class="right">
			<tr>
				<td><label for="root">Root URI (include trailing slash):</label></td>
				<td><input type="text" id="root" name="root" value="{{ config.root }}" size="40"></td>
			</tr>
		</table>

	<h2>Miscellaneous</h2>
		<table class="right">
			<tr>
				<td><label for="secure_trip_salt">Secure trip (##) salt:</label></td>
				<td><input type="text" id="secure_trip_salt" name="secure_trip_salt" value="{{ config.secure_trip_salt }}" size="40"></td>
			</tr>
			<tr>
				<td><label for="secure_password_salt">Poster password salt:</label></td>
				<td><input type="text" id="secure_password_salt" name="secure_password_salt" value="{{ config.secure_password_salt }}" size="40"></td>
			</tr>
		</table>
	<div id="additionalConfig" hidden>
		<h2>Additional configuration</h2>
		<table>
			<tr>
				<td>Add extra lines of configuration here.</td>
			</tr>
			<tr>
				<td><textarea id="more" name="more" style="height: 20vh">{{ more }}</textarea></td>
			</tr>
		</table>
	</div>
	<p style="text-align:center">
		<input id="showAdditionalConfig" type="button" value="Additional configuration">
		<input type="submit" value="Complete installation">
	</p>
	</div>
</form>
<script>
	$("#showAdditionalConfig").click(function(){
		$("#additionalConfig").slideDown("slow");
	$('html, body').animate({
    	scrollTop: $(window).scrollTop() + $(window).height() * 0.2
	}, "slow");
	});
</script>
<style>
table {
	width: 95%;
	padding: 8px 0;
}
table.right td:nth-child(even) {
	text-align: right;
}
</style>
